<a href="https://colab.research.google.com/github/shilpavv/datascince/blob/master/sum.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=10
b=6
c=a+b
print(c)

16

In [ ]:
n=1234
rev=0
while(n>0) :
  rem=n%10
  rev=rev*10+rem
  n=n//10
print(rev)

4321

In [ ]:
n=int(input("enter a number"))
if n>0:
  print("n is positive",n)
else:
  print("n is negative",n)

enter a number-1
n is negative -1

In [ ]:
n=int(input("enter a number"))
count=0
while(n>0):
  n=n//10
  count=count+1
print(count)

enter a number123
3

In [ ]:
n=12321
rev=0
temp=n
while(n>0) :
  rem=n%10
  rev=rev*10+rem
  n=n//10
if(temp==rev):
  print(rev,"is palindrome")
else:
  print(rev, "is not palindrome")

12321 is palindrome

In [ ]:
r=int(input("enter the radius"))
area=3.14*r*r
peri=2*3.14*r
print("area of circle is",area)
print("perimeter of circle is",peri)

enter the radius3
area of circle is 28.259999999999998
perimeter of circle is 18.84

In [ ]:
a=10
b=20
c=50
if(a>b & a>c):
   print(a," is largest")
elif(b>a & b>c):
  print(b,"is largest")
else:
  print(c,"is largest")

50 is largest

In [1]:
n=input("enter the separated numbers")
list=n.split(",")
tuple=tuple(list)
print(list,"list")
print(tuple,"tuple")

enter the separated numbers34 44
['34 44'] list
('34 44',) tuple

In [2]:
l=input("enter the numnber")
print("first element",l[0])
print("first element",l[-1])

enter the numnber3
first element 3
first element 3